.main-section {
  background: #fff;
  overflow: hidden;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }

  &__subtitle {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    position: relative;
    z-index: 3;
    padding-right: 20px;
    margin-bottom: 35px;

    @media (max-width: 768px) {
      padding-top: 0;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__title {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 74px;
    color: #313235;
    margin-bottom: 30px;
    padding-top: 170px;
    position: relative;
    z-index: 2;
    padding-right: 20px;

    @media (max-width: 1200px) {
      padding-top: 40px;
    }

    @media (max-width: 768px) {
      padding-top: 0;
      font-size: 48px;
      line-height: 53px;
      margin-bottom: 20px;
    }
  }

  &__btns {
    position: relative;
    z-index: 3;
    max-width: 465px;

    &-text {
      font-family: "Nunito", Arial, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      color: #6A6A6A;
      text-align: center;
    }

    @media (max-width: 768px) {
      text-align: center;
      margin: 0 auto;
    }

    &-link {
      transition: opacity 0.2s ease-in-out;
      display: inline-block;
      width: 230px;
      cursor: default;

      @media (max-width: 1024px) {
        max-width: 50%;
        width: 50%;
      }

      img {
        width: 100%;
      }

      //&:focus,
      //&:hover {
      //  opacity: 0.8;
      //}
      //
      //&:active {
      //  opacity: 0.6;
      //}
    }
  }

  &__content {
    font-size: 0;
    position: relative;

    &:after {
      content: '';
      width: 253px;
      height: 286px;
      position: absolute;
      background: url(./../../assets/images/bear_bg_image.svg) no-repeat center;
      background-size: contain;
      bottom: 0;
      right: 440px;
      z-index: 1;

      @media (max-width: 1024px) {
        content: none;
      }
    }

    &:before {
      content: '';
      width: 342px;
      height: 383px;
      position: absolute;
      background: url(./../../assets/images/bear_bg_image.svg) no-repeat center;
      background-size: contain;
      bottom: 130px;
      left: -260px;
      z-index: 2;
    }
  }

  &__left {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      margin-bottom: 30px;
    }
  }

  &__right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      text-align: center;
    }

    &-img {
      max-width: 412px;
      position: relative;
      z-index: 3;

      @media (max-width: 1200px) {
      	max-width: 400px;
        width: 100%;
      }

      @media (max-width: 768px) {
        max-width: 420px;
        position: relative;
      }

      @media (max-width: 480px) {
        max-width: 280px;
      }
    }
  }
}