<section class="main-section">
  <div class="container">
		<div class="main-section__content">
			<div class="main-section__left">
				<h1 class="main-section__title">
					Найди своих за границей!
				</h1>
				<h2 class="main-section__subtitle">
					НашЧат - облачное приложение - мессенджер для подачи объявлений и
					общения русскоговорящих за границей
				</h2>
				<div class="main-section__btns">
					<div class="main-section__btns-text">
						 уже скоро в:
					</div>
					<!-- TODO add link -->
					<a class="main-section__btns-link" href="#">
						<img src="../../assets/images/buttons/apple.svg" alt="apple store button">
					</a>
					<!-- TODO add link -->
					<a class="main-section__btns-link" href="#">
						<img src="../../assets/images/buttons/google.svg" alt="apple play button">
					</a>
				</div>
			</div>
			<div class="main-section__right">
				<img
					class="main-section__right-img"
					src="../../assets/images/main-section/main_section_img.png"
					alt=""
				/>
			</div>
		</div>
  </div>
</section>