.terms-conditions {
  position: relative;
  padding-bottom: 40px;
  z-index: 2;

  a {
    color: #00477f;
    transition: color 0.2s ease-in-out;

    &:focus,
    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .6;
    }
  }

  ol {
    counter-reset: item;

    li {
      display: block;
      position: relative;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }
    }
  }

  ul {
    li {
      display: list-item;
      list-style: disc;

      &:before {
        content: none;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 68px;
    color: #313235;
    margin-top: 55px;
    margin-bottom: 12px;

    @media (max-width: 768px) {
      margin-top: 20px;
      font-size: 50px;
      line-height: 56px;
      margin-bottom: 18px;
    }

    @media (max-width: 480px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 6px;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    color: #3E3F43;
    margin-bottom: 130px;

    @media (max-width: 768px) {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 60px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__icon {
    position: absolute;
    right: 130px;
    top: 110px;
    width: 160px;

    @media (max-width: 1200px) {
      right: 200px;
      top: 110px;
    }

    @media (max-width: 1024px) {
      right: 40px;
      top: 110px;
      opacity: 0.2;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__text {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #3E3F43;
    margin-top: 8px;
    margin-left: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
      margin-left: 0;
    }

    & + & {
      margin-top: 20px;
    }
  }

  &__list {
    margin-top: 10px;

    &-item {
      font-family: "Nunito", Arial, serif;
      margin-bottom: 8px;
      font-size: 22px;
      line-height: 27px;

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__section {
    margin-bottom: 30px;

    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 12px;
    }

    &._active {
      .terms-conditions__section-content {
        display: block;
      }
    }

    &-content {
      display: none;
    }
  }
}

ol.terms-conditions__list ol.terms-conditions__list {
  margin-left: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

ol.terms-conditions__list {
  margin-bottom: 20px;
  list-style: none;
}

ul.terms-conditions__list {
  list-style: initial;
  padding-left: 20px;
  margin-left: 24px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
