<div class="terms-conditions" >
	<div class="container">
		<h1 class="terms-conditions__title">
			Условия использования и безопасность
		</h1>
		<h2 class="terms-conditions__subtitle">
			сервиса НашЧат
		</h2>
		<img src="./../../assets/images/terms-conditions/terms_page_lock_icon.svg"
				 alt="" class="terms-conditions__icon">

		<div class="terms-conditions__section _active" data-selector="terms-section">
			<div class="section-title _terms" data-selector="terms-title">
				<div class="section-title__title">
					Условия использования
				</div>
			</div>
			<div class="terms-conditions__section-content" data-selector="terms-content">
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
			</div>
		</div>
		<div class="terms-conditions__section" data-selector="terms-section">
			<div class="section-title _terms" data-selector="terms-title">
				<div class="section-title__title">
					Политика конфиденциальности
				</div>
			</div>
			<div class="terms-conditions__section-content" data-selector="terms-content">
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
			</div>
		</div>
		<div class="terms-conditions__section" data-selector="terms-section">
			<div class="section-title _terms" data-selector="terms-title">
				<div class="section-title__title">
					Политика конфиденциальности
				</div>
			</div>
			<div class="terms-conditions__section-content" data-selector="terms-content">
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
				<p class="terms-conditions__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus, pulvinar luctus nibh aliquet varius. Id ut dolor lorem egestas mattis ac lacus. Orci vestibulum enim pulvinar arcu at aliquet.
					Политика конфиденциальности Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ligula cursus cras donec pretium habitant aliquam. Lorem auctor sit ultrices lacus.
				</p>
			</div>
		</div>
	</div>
</div>