<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__left">
				<a href="/" class="header__logo-link">
					<img class="header__logo" src="./../../assets/images/logo.svg" alt="">
				</a>
			</div>
			<div class="header__right">
				<nav class="header__nav">
					<a class="header__nav-item" href="">О нас</a>
					<a class="header__nav-item" href="">Как это работает</a>
					<a class="header__nav-item" href="">Категории</a>
					<a class="header__nav-item" href="">Контакты</a>
				</nav>
			</div>
		</div>
	</div>
</header>
