.header {
  padding: 20px 0;
  background: white;
  margin-bottom: 30px;

  &__content {
    font-size: 0;
  }

  &__left {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
  }

  &__right {
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    text-align: right;
  }

  &__nav {
    position: relative;
    z-index: 3;

    &-item {
      color: rgba(34, 34, 34, 0.75);
      text-decoration: none;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;

      & + & {
        margin-left: 40px;
      }
    }
  }


  &__logo {
    width: 140px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}
