<section
				id="how-it-works"
				class="enjoy-us"
>
  <div class="container">
		<div class="enjoy-us__content">
			<div class="section-title _enjoy-us">
				<div class="section-title__title">
					Присоединяйся
				</div>
				<div class="section-title__ghost">
					КАК РАБОТАЕТ
				</div>
			</div>
			<div class="enjoy-us__list">
				<div class="enjoy-us__list-item">
					<div class="enjoy-us__list-item-num">
						1
					</div>
					<div class="enjoy-us__list-item-title">
						Скачай
					</div>
					<div class="enjoy-us__list-item-buttons">
						<a href="/" target="_blank" class="enjoy-us__list-item-button">
							<img src="../../assets/images/buttons/google.png"
									 alt="" class="enjoy-us__list-item-button-img">
						</a>
						<a href="/" target="_blank" class="enjoy-us__list-item-button">
							<img src="../../assets/images/buttons/apple.png"
									 alt="" class="enjoy-us__list-item-button-img">
						</a>
					</div>
				</div>
				<div class="enjoy-us__list-item">
					<div class="enjoy-us__list-item-num">
						2
					</div>
					<div class="enjoy-us__list-item-title">
						Зарегистрируйся
					</div>
					<img class="enjoy-us__list-item-img _two"
							 src="./../../assets/images/enjoy-us/enjoy_2.png" alt="">
				</div>
				<div class="enjoy-us__list-item">
					<div class="enjoy-us__list-item-num">
						3
					</div>
					<div class="enjoy-us__list-item-title">
						Пользуйся!
					</div>
					<img class="enjoy-us__list-item-img _three"
							 src="./../../assets/images/enjoy-us/enjoy_3.svg" alt="">
				</div>
			</div>
		</div>
  </div>
</section>