<footer class="footer">
  <div class="container">
		<div class="footer__content">
			<div class="footer__left">
				<a href="/" class="footer__logo-link">
					<img class="footer__logo" src="./../../assets/images/logo.svg" alt="">
				</a>
				<a href="" class="footer__link">+41787177282</a>
				<a href="" class="footer__link">me@nashchat.org</a>
			</div>
			<div class="footer__right">
				<div class="footer__col">
					<div class="footer__title">НашЧат</div>
					<a data-selector="link-nav-item" href="/#about-us" class="footer__link">О нас</a>
					<a data-selector="link-nav-item" href="/#how-it-works" class="footer__link">Как работает</a>
					<a data-selector="link-nav-item" href="/#categories" class="footer__link">Категории</a>
					<a data-selector="link-nav-item" href="/#contacts" class="footer__link">Контакты</a>
				</div>
				<div class="footer__col">
					<div class="footer__title">Загрузки</div>
					<!-- TODO add link -->
					<a href="#" class="footer__link">iPhone и iPad</a>
					<!-- TODO add link -->
					<a href="#" class="footer__link">Android</a>
				</div>
				<div class="footer__col _third">
					<div class="footer__title">Документы</div>
					<a href="/terms-of-use.html#terms" class="footer__link">Условия пользования</a>
					<a href="/terms-of-use.html#policy" class="footer__link">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="footer__copyright">© <script>document.write(new Date().getFullYear())</script> НашЧат</div>
		</div>
  </div>
</footer>