<footer class="footer">
  <div class="container">
		<div class="footer__content">
			<div class="footer__left">
				<a href="/" class="footer__logo-link">
					<img class="footer__logo" src="./../../assets/images/logo.svg" alt="">
				</a>
				<a href="" class="footer__link">+41787177282</a>
				<a href="" class="footer__link">me@nashchat.org</a>
			</div>
			<div class="footer__right">
				<div class="footer__col">
					<div class="footer__title">НашЧат</div>
					<div class="footer__link">О нас</div>
					<div class="footer__link">Как работает</div>
					<div class="footer__link">Категории</div>
					<div class="footer__link">Контакты</div>
				</div>
				<div class="footer__col">
					<div class="footer__title">Загрузки</div>
					<div class="footer__link">iPhone и iPad</div>
					<div class="footer__link">Android</div>
				</div>
				<div class="footer__col _third">
					<div class="footer__title">Документы</div>
					<div class="footer__link">Условия и Политика</div>
					<div class="footer__link">Условия использования</div>
					<div class="footer__link">Политика конфиденциальности</div>
				</div>
			</div>
			<div class="footer__copyright">© <script>document.write(new Date().getFullYear())</script> НашЧат</div>
		</div>
  </div>
</footer>