.footer {
  margin-top: 25px;
  margin-bottom: 40px;

  @media (max-width: 480px) {
    margin-bottom: 10px;
  }

  &__content {
    padding-top: 30px;
    border-top: 1px solid #C4C4C4;
    font-size: 0;
  }

  &__copyright {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #8D8D8D;
    margin-top: 20px;
    text-align: left;

    @media (max-width: 480px) {
    	text-align: center;
    }
  }

  &__logo {
    width: 180px;
    margin-bottom: 20px;
  }

  &__left {
    display: inline-block;
    vertical-align: top;
    width: 30%;

    @media (max-width: 768px) {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 26px;
    }

    .footer {
      &__link {
        @media (max-width: 768px) {
          text-align: left;
          width: 160px;
          margin: 0 auto;
        }
      }
    }
  }

  &__right {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    font-size: 0;
    text-align: right;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  &__col {
    width: 20%;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 768px) {
      width: 28%;
    }

    @media (max-width: 480px) {
      width: 45%;
    }

    &._third {
      width: 35%;

      @media (max-width: 768px) {
        width: 34%;
      }

      @media (max-width: 480px) {
        margin-left: 0 !important;
        margin-top: 20px;
        width: 100%;
        display: block;
      }
    }

    & + & {
      margin-left: 50px;

      @media (max-width: 768px) {
        margin-left: 10px;
      }
    }
  }

  &__title {
    text-align: left;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 22px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }

    @media (max-width: 480px) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }

  &__link {
    text-align: left;
    display: block;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #8D8D8D;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 19px;
    }

    & + & {
      margin-top: 20px;

      @media (max-width: 768px) {
        margin-top: 12px;
      }
    }

    &:focus,
    &:hover {
      color: #5f5e5e;
    }

    &:active {
      color: #404040;
    }
  }
}