.contact-us {
  padding-bottom: 50px;

  &__content {
    position: relative;
  }

  &__title {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #333333;
    max-width: 400px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #333333;
    margin-bottom: 75px;

    @media (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  &__form {
    display: inline-block;
    width: 68%;
    vertical-align: top;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 120px;
    padding: 54px 64px;
    background: #F2F2F2;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      padding: 42px 50px;
    }

    @media (max-width: 480px) {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      padding: 28px 35px;
    }
  }

  &__contacts {
    position: absolute;
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
    background: #FFFFFF;
    border: 1px solid #A8DCEC;
    box-sizing: border-box;
    padding: 40px 70px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    right: 0;
    top: 0;

    @media (max-width: 1200px) {
      position: static;
      margin-bottom: 26px;
      padding: 40px 52px;
    }

    @media (max-width: 768px) {
      min-width: auto;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
    }

    &-top {
      @media (max-width: 768px) {
        width: 330px;
        margin: 0 auto;
      }

      @media (max-width: 480px) {
        width: 260px;
      }
    }

    &-text {
      font-family: "Nunito", Arial, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 38px;
      color: #333;
      margin-bottom: 8px;

      @media (max-width: 768px) {
        width: 320px;
        margin: 0 auto;
      }

      @media (max-width: 480px) {
        font-size: 22px;
        line-height: 30px;
        width: 260px;
        margin: 0 auto;
      }

      a {
        text-decoration: none;
        color: #333;

        &:active,
        &:hover,
        &:focus  {
          color: #333;
          text-decoration: underline;
        }
      }
    }
  }

  &__social {
    text-align: center;
    margin-top: 22px;

    &-img {
      width: 50px;
      height: 50px;
    }

    &-link {
      text-decoration: none;
      display: inline-block;
      transition: opacity .2s ease-in-out;

      &:focus,
      &:hover {
        opacity: .8;
      }

      & + & {
        margin-left: 24px;
      }
    }
  }

  &__btn {
    @media (max-width: 480px) {
      text-align: center;
    }
  }
}