<section class="contact-us">
  <div class="container">
		<div class="section-title">
			<div class="section-title__title">
				Связаться с нами
			</div>
			<div class="section-title__ghost">
				КОНТАКТЫ
			</div>
		</div>
		<div class="contact-us__content">
			<div class="contact-us__contacts">
				<div class="contact-us__contacts-top">
					<div class="contact-us__contacts-text">
						Телефон: <a href="tel:+41787177282">+41787177282</a>
					</div>
					<div class="contact-us__contacts-text">
						Почта: <a href="mailto:me@nashchat.org">me@nashchat.org</a>
					</div>
				</div>
				<!--				<div class="contact-us__right-bottom">-->
				<!--					insta-->
				<!--					facebook-->
				<!--					vk-->
				<!--				</div>-->
			</div>
			<div class="contact-us__form">
				<div class="contact-us__title">
					Остались вопросы или есть предложение?
				</div>
				<div class="contact-us__subtitle">
					Оставьте свою заявку, и мы обязательно вам ответим
				</div>
				<div class="form">
					<div class="form__line">
						<div class="form__col">
							<div class="form__item">
								<label
												for="address"
												class="form__label"
								>
									Email адрес
								</label>
								<input
												placeholder="Email адрес"
												type="email"
												name="address"
												id="address"
												class="form__input"/>
							</div>
						</div>
						<div class="form__col">
							<div class="form__item">
								<label
												for="name"
												class="form__label"
								>
									Имя
								</label>
								<input
												placeholder="Имя"
												name="name"
												id="name"
												class="form__input"/>
							</div>
						</div>
					</div>
					<div class="form__line">
						<div class="form__col">
							<div class="form__item">
								<label
												class="form__label"
												for="country"
								>
									Страна проживания
								</label>
								<input
												placeholder="Страна проживания"
												name="country"
												id="country"
												class="form__input"
								/>
							</div>
						</div>
					</div>
					<div class="form__item">
						<label
										for="message"
										class="form__label"
						>
							Сообщение
						</label>
						<textarea
										placeholder="Сообщение"
										class="form__textarea"
										name="message"
										id="message" cols="30" rows="10"
						></textarea>
					</div>
				</div>
				<button class="form__button">Отправить</button>
			</div>
		</div>
  </div>
</section>