.who-we-are {
  position: relative;
  padding-top: 30px;
  overflow: hidden;

  &__text {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;

    @media (max-width: 1200px) {
      padding-left: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      padding-left: 0;
      font-size: 28px;
      line-height: 38px;
    }

    &._bottom {
      max-width: 515px;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    & ._bold {
      font-weight: 800;
    }

    & ._light {
      color: #878787;
    }
  }

  &__content {
    font-size: 0;
    position: relative;
    padding-bottom: 200px;

    @media (max-width: 1024px) {
      padding-bottom: 50px;
    }

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }

    &:before {
      content: '';
      width: 250px;
      height: 262px;
      position: absolute;
      background: url(./../../assets/images/bear_bg_image.svg) no-repeat center;
      background-size: contain;
      bottom: 120px;
      left: -130px;

      @media (max-width: 1024px) {
        background-size: contain;
        left: auto;
        bottom: 110px;
        right: -70px;
      }

      @media (max-width: 768px) {
        left: -130px;
        right: auto;
        bottom: 0;
      }
    }
    
    &:after {
      position: absolute;
      right: 60px;
      bottom: 70px;
      content: '';
      width: 375px;
      height: 520px;
      background: url(./../../assets/images/who-we-are/who_we_are.png) no-repeat;
      background-size: cover;

      @media (max-width: 1024px) {
      	content: none;
      }
    }
  }

  &__left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      text-align: center;
    }

    &:after {
      width: 278px;
      height: 378px;
      content: '';
      background: #F2F2F2;
      position: absolute;
      left: 0;
      top: 0;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      z-index: 1;
      padding-top: 40px;

      @media (max-width: 480px) {
        height: 300px;
        width: 250px;
        left: -20px;
        top: -10px;
      }
    }

    &-img {
      position: relative;
      z-index: 2;
      max-height: 561px;
      margin-bottom: 45px;
      max-width: 100%;
      margin-top: 32px;
      margin-left: 38px;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        margin-top: 15px;
        margin-left: 15px;
      }
    }
  }

  &__right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    z-index: 2;
    position: relative;
    padding-top: 110px;

    @media (max-width: 1200px) {
      padding-top: 70px;
    }

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      padding-top: 20px;
    }
  }
}