<section
				id="about-us"
				class="who-we-are"
>
  <div class="container">
		<div class="section-title">
			<div class="section-title__title">
				Кто мы
			</div>
			<div class="section-title__ghost">
				О НАС
			</div>
		</div>
		<div class="who-we-are__content">
			<div class="who-we-are__left">
				<img
					class="who-we-are__left-img"
					src="../../assets/images/who-we-are/who_we_are_phones_1x.png"
					alt=""
				/>
			</div>
			<div class="who-we-are__right">
				<div class="who-we-are__text">
					<span class="_bold">НашЧат -</span> это уникальный сервис,
					объединяющий русскоговорящих <span class="_light">людей из разных стран</span>
				</div>
			</div>
			<div class="who-we-are__text _bottom">
				Мы вложили в проект свою душу,
				<span class="_light">чтобы согреть вашу...</span>
			</div>
		</div>
  </div>
</section>