.form {
  &__item {
    margin-bottom: 28px;
  }

  &__label {
    font-family: "Nunito", Arial, serif;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    color: #333333;
    margin-bottom: 12px;
  }

  &__input {
    border-radius: 6px;
    display: block;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    color: #2b2b2b;
    box-shadow: none;
    border: 2px solid #00477F;
    padding: 5px 12px;
    width: 100%;
    background: #F2F2F2;

    &::placeholder {
      color: #C4C4C4;
      font-size: 22px;
    }
  }

  &__textarea {
    display: block;
    resize: none;
    font-weight: normal;
    border-radius: 6px;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-size: 22px;
    line-height: 31px;
    color: #2b2b2b;
    box-shadow: none;
    border: 2px solid #00477F;
    padding: 5px 12px;
    width: 100%;
    background: #F2F2F2;
    border-bottom-left-radius: 50px;

    &::placeholder {
      color: #C4C4C4;
      font-size: 22px;
    }
  }

  &__line {
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 16px);
    margin-left: 8px;
    margin-right: 8px;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__button {
    background: linear-gradient(169.82deg, #0064B2 38.75%, #00477F 90.71%);
    border-radius: 20px;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 11px 40px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:focus,
    &:hover {
      opacity: .9;
    }

    &:active {
      opacity: .7;
    }
  }
}