body {
  min-width: 360px;
  font-size: 22px;
  font-family: "Nunito", Arial, serif;
  color: #3f3f3f;
  scroll-behavior: smooth;
  overflow-x: auto;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

/* fit footer to the bottom of the page */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
}

.content {
  height: 100%;
  position: relative;

  &:after {
    width: calc(100% / 2.6);
    height: 940px;
    content: '';
    background: #F2F2F2;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 90px;
    z-index: 1;

    @media (max-width: 1200px) {
      height: 790px;
      width: calc(100% / 2.9);
    }
  }
}