.section-title {
  position: relative;
  padding-bottom: 65px;

  &._terms {
    padding-bottom: 16px;
    transition: opacity .2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: .8;
    };

    @media (max-width: 768px) {
      padding-bottom: 14px;
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  &__title {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    position: relative;
    padding-left: 42px;

    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 45px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
      line-height: 36px;
    }

    &:after {
      background: url(../../assets/images/bear_icon.svg) no-repeat;
      width: 33px;
      height: 33px;
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
    }
  }

  &__ghost {
    top: -32px;
    position: absolute;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 130px;
    text-align: right;
    color: #F2F2F2;
    right: 0;

    @media (max-width: 1024px) {
      font-size: 55px;
    }

    @media (max-width: 768px) {
      position: static;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    @media (max-width: 480px) {
      font-size: 45px;
      line-height: 50px;
    }
  }
}