.section-title {
  position: relative;
  padding-bottom: 65px;

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  &__title {
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    position: relative;
    padding-left: 42px;

    @media (max-width: 480px) {
      font-size: 33px;
      line-height: 45px;
    }

    &:after {
      background: url(../../assets/images/bear_icon.svg) no-repeat;
      width: 33px;
      height: 33px;
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__ghost {
    top: -22px;
    position: absolute;
    font-family: "Nunito", Arial, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 110px;
    text-align: right;
    color: #F2F2F2;
    right: 0;

    @media (max-width: 1200px) {
      font-size: 55px;
    }

    @media (max-width: 768px) {
      position: static;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    @media (max-width: 480px) {
      font-size: 45px;
      line-height: 50px;
    }
  }
}