<section class="seo-section">
  <div class="container">
		<div class="seo-section__text">
			НашЧат- пространство для общения и полезной информации для русских и всех русскоговорящих
			за границей. В нашем приложении мы предлагаем помощь, советы, объявления, поиск и предложение
			работы, знакомства в Европе и на всех континентах. Ищете русские магазины, русские школы,
			Российские Посольства и Консульства, православные храмы в Германии, Франции, Англии, США,
			Швейцарии и по всему миру? Вы найдёте адрес у нас! Здесь вы найдёте даже бесплатные вещи в
			дар от соотечественников. Наше приложение уникально- это кладезь действительно необходимой
			информации для русского туриста или иммигранта.
		</div>
  </div>
</section>